{% extends 'base_layout.html' %}

{% block content %}
    <h1 class="text-center mb-5">Recenzje czekające na akceptacje</h1>
        {% if not reviews %}
            <h3 class="mb-4">Brak nowych zgłoszeń</h3>
        {% endif %}

        {% for review in reviews %}
            <div class="mb-4">
                {% include "reviews/review_snippet.html" with review=review review_accept=True %}
            </div>
        {% endfor %}

    {% include "pagination.html" with items=reviews %}
{% endblock %}
