{% load has_group %}

<div class="my-3 card container">
    <div class="card-body d-flex row">
        <div class="col">
            <div class="row">
                <div class="col-10">
                    <p class="fs-5"><b>Użytkownik:</b> {{ review.user }}</p>
                    <p class="fs-5"><b>Treść:</b> {{ review.review }}</p>
                </div>
                <div class="col text-end">
                    <div class="col text-end">
                      {% include "review_stars.html" with rating=review.vote %}
                    </div>

                    {% if request.user|has_group:"admin" %}
                        <div class="mt-3">
                            <form method="post" action="{% url 'reviews:accept' %}">
                                {% csrf_token %}
                                <input type="number" value={{review.id}} id="review_id_1" name="review_id" hidden>
                                <button type="submit" class="btn btn-success btn-sm" style="width: 100px;">Zaakceptuj</button>
                            </form>
                            <form method="post" class="mt-2" action="{% url 'reviews:reject' %}">
                                {% csrf_token %}
                                <input type="number" value={{review.id}} id="review_id_2" name="review_id" hidden>
                                <button type="submit" class="btn btn-danger btn-sm" style="width: 100px;">Odrzuć</button>
                            </form>
                        </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>