<div class="my-3 card container">
    <div class="card-body d-flex row">
        <div class="col-12">
            <div class="row">
                <div class="col-10">
                    <h2>
                        <a class="text-decoration-none link-secondary" href="{% url 'authors:details' slug=author.slug %}">
                            {{ author.name }} {{ author.surname }}
                        </a>
                    </h2>
                    <p>{{ author.description }}</p>
                </div>
                <div class="col text-end">
                    <p>{{ author.birthDate|date:"d.m.Y" }}</p>

                    <div class="col text-end">
                        <span class="fa fa-star btn-rating {% if author.rating >= 1 %} checked {% endif %}}}"></span>
                        <span class="fa fa-star btn-rating {% if author.rating >= 2 %} checked {% endif %}"></span>
                        <span class="fa fa-star btn-rating {% if author.rating >= 3 %} checked {% endif %}"></span>
                        <span class="fa fa-star btn-rating {% if author.rating >= 4 %} checked {% endif %}"></span>
                        <span class="fa fa-star btn-rating {% if author.rating >= 5 %} checked {% endif %}"></span>
                    </div>

                     {% if request.user.is_staff %}
                        <div class="mt-3">
                            <form method="POST" action="{% url 'authors:remove_author' pk=author.pk %}">
                                {% csrf_token %}
                                <button class="btn btn-danger">Usuń</button>
                            </form>
                        </div>
                     {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>