{% extends 'base_layout.html' %}

{% block content %}
    <h1 class="text-center mb-5">Lista autorów</h1>
    <div class="books">
        {% for author in authors %}
            {% include "authors/author_snippet.html" with author=author %}
        {% endfor %}
    </div>
    <div class="">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if authors.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ authors.previous_page_number }}">Previous</a></li>
                {% endif %}

                <li class="page-item"><a href="#" class="page-link">Page {{ authors.number }} of {{ authors.paginator.num_pages }}</a></li>

                {% if authors.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ authors.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ authors.paginator.num_pages }}">Last&raquo</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}