{% extends 'base_layout.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
    <div class="login-page" xmlns="http://www.w3.org/1999/html">
        <h1>Login</h1>
        <form class="site-form" action="{% url 'accounts:login' %}" method="post">
             {% csrf_token %}
            <input type="username" name="username" id="sample" placeholder="Enter Username...">
            <input type="password" name="password" id="sample1" placeholder="Enter Password...">
            <button type="submit" class="btn">Login</button>
            <p>or login with</p>
            <div class="icons">
                <div>
                    <a href="{% provider_login_url "facebook" method="oauth2" %}">
                        <i class="fab fa-facebook-square"></i><span>Facebook</span>
                    </a>
                </div>
                <div>
                    <a href="{% provider_login_url "google" %}">
                        <i class="fab fa-google"></i><span>Google</span>
                    </a>
                </div>
            </div>

            {% for message in messages %}
            <p id="messages"> {{message}}</p>
            {% endfor %}
        </form>
         <div class="d-flex justify-content-center links">
            Don't have an account?
            <a href="{% url 'accounts:signup' %}">Sign Up</a>
        </div>
    </div>
{% endblock %}

<!--{% provider_login_url "facebook" method="js_sdk" %}-->
<!--{% provider_login_url "facebook" method="oauth2" %}-->
<!--{% provider_login_url "google" %}-->