{% extends 'base_layout.html' %}
{% load static %}

{% block content %}

    <div class="w-100 d-flex justify-content-center">
        <div class="login-page card">
            <div class="card-body d-flex justify-content-center align-items-center">
                <div class="w-75">
                    <h1 class="w-100 mb-5 text-center">Zarejestruj się</h1>
                    <form class="site-form" action="{% url 'accounts:signup' %}" method="post">
                         {% csrf_token %}
                        {{form.username}}

                        {{form.email}}

                        {{form.password1}}

                        {{form.password2}}
                        <button type="submit" class="btn btn-success w-100 mt-2">Utwórz konto</button>
                    </form>

                    {{form.errors}}

                    <div class="d-flex justify-content-center mt-4">
                        Masz już konto?
                        <a class="d-block ms-1 link-success" href="{% url 'accounts:login' %}">Zaloguj się</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

