{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
    <div class="login-page" xmlns="http://www.w3.org/1999/html">
        <h1>SignUp</h1>
        <form class="site-form" action="{% url 'accounts:login' %}" method="post">
             {% csrf_token %}
            <input type="username" name="username" id="sample" placeholder="Enter Username...">
            <input type="email" name="email" id="email" placeholder="Enter Email...">
            <input type="password" name="password" id="password" placeholder="Enter Password...">
            <input type="repassword" name="rePassword" id="rePassword" placeholder="Re-enter Password...">
            <button type="submit" class="btn">Register Account</button>
        </form>
    </div>
{% endblock %}