@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

/* Global */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary-font: 'Hammersmith One', sans-serif
}

a {
    text-decoration: none;
}

body{
    height:100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.nav-item {
    display: flex;
    align-items: center;
}

.alert-sm {
    padding: 0.5rem 1rem !important;
    font-size: 0.8rem !important;
}

.message-container {
    position: fixed;
    left: 30%;
    right: 30%;
    bottom: 10px;
}

/* Navbar styles */
.brand-name {
    font-family: var(--secondary-font);
}

/* Login page */

.login-page{
    width: 550px;
    min-height: 550px;
}

.not-logged {
    margin-top: 15vh;
}

.checked {
  color: orange;
}

.btn-rating{
    background-color: inherit; !important;
    border: 0 !important;
}

/* Homepage styles */

.carousel-container:nth-of-type(1) {
    margin-bottom: 3rem;
}

.carousel-container:not(:nth-of-type(1)):not(:nth-of-type(2n)) {
    margin: 3rem 0;
}

.carousel-container:nth-of-type(2n) {
    background-color: #2f3237;
    color: #212529;
    padding: 3rem 0;
}

.carousel-container:nth-of-type(2n) h2 {
    color: #ffffff;
}

.carousel-inner {
    min-height: 400px;
}

.carousel-item img {
    filter: brightness(50%);
}

