{% extends "base_layout.html" %}

{% block content %}

<div class="content">
    <div class="card">
        <div class="card-body">
            <h1 class="mb-5 text-center">O serwisie</h1>
            <p class="card-text">
                BookWeb to serwis internetowy pozwalający poznawać nowe książki oraz je recenzować. Serwis jest zbiorem wszystkich książek, dzięki czemu internauci
                są w stanie szybko przeczytać "zajawkę" i zobaczyć czy chcą wgłębić się w powieść, a następnie ją ocenić dzieląc się przemyśleniami z innymi użytkownikami.
            </p>
            <p>
                Funkcjonalności:
                <ul>
                    <li>przeglądanie książek,</li>
                    <li>zgłaszanie nowych książek,</li>
                    <li>dodawanie recenzji książek,</li>
                    <li>przeglądanie recenzji książek,</li>
                    <li>przeglądanie autorów.</li>
                </ul>
            </p>

            <h2 class="my-5 text-center">Projekt</h2>
            <div class="row justify-content-center">
                <div class="col-4">
                     <div class="card text-white text-center bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Projekt</h5>
                            <a href="https://github.com/users/musialpatryk/projects/3" class="card-link link-info">Github project</a>
                        </div>
                     </div>
                 </div>
                 <div class="col-4">
                     <div class="card text-white text-center bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Repozytorium</h5>
                            <a href="https://github.com/musialpatryk/web-book" class="card-link link-info">Github</a>
                        </div>
                     </div>
                 </div>
             </div>

            <h2 class="mt-5 mb-4 text-center">Twórcy</h2>
            <div class="row">
                 <div class="col-sm-3">
                    <div class="card-body bg-secondary text-light" style="margin: 10px; text-align:center;">
                        <h5 class="card-title">Dawid Rusiłowski</h5>
                        <a href="https://github.com/NURSAA" class="card-link link-dark">Github</a>
                    </div>
                 </div>
                <div class="col-sm-3">
                    <div class="card-body bg-secondary text-light" style="margin: 10px; text-align:center;">
                        <h5 class="card-title">Mariusz Przybyła</h5>
                        <a href="https://github.com/PrzybylaM" class="card-link link-dark">Github</a>
                    </div>
                 </div>
                <div class="col-sm-3">
                    <div class="card-body bg-secondary text-light" style="margin: 10px; text-align:center;">
                        <h5 class="card-title">Musiał Patryk</h5>
                        <a href="https://github.com/musialpatryk" class="card-link link-dark">Github</a>
                    </div>
                 </div>
                <div class="col-sm-3">
                    <div class="card-body bg-secondary text-light" style="margin: 10px; text-align:center;">
                        <h5 class="card-title">Mikołaj Porębski</h5>
                        <a href="https://github.com/ViciousCabaret" class="card-link link-dark">Github</a>
                    </div>
                 </div>
             </div>


            <h2 class="my-5 text-center">Wykorzystane technologie</h2>
            <div class="d-flex justify-content-center mb-5">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; margin: 10px; text-align:center;">
                            <div class="card-body">
                                <h5 class="card-title">HTML</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; margin: 10px; text-align:center;">
                            <div class="card-body">
                                <h5 class="card-title">CSS</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; margin: 10px; text-align:center;">
                            <div class="card-body">
                                <h5 class="card-title">Python</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; margin: 10px; text-align:center;">
                            <div class="card-body">
                                <h5 class="card-title">Django</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; margin: 10px; text-align:center;">
                            <div class="card-body">
                                <h5 class="card-title">BOOTSTRAP</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; margin: 10px; text-align:center;">
                            <div class="card-body">
                                <h5 class="card-title">SqlLite</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}