{% load static %}

<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>BookWeb</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>

    {% if request.user.is_authenticated %}
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
      <div class="container">
        <a class="navbar-brand brand-name" href="/">BookWeb</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

             <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"
                     id="bookDropdown"
                     role="button"
                     data-bs-toggle="dropdown"
                     aria-expanded="false">
                    Książki
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="bookDropdown">
                    <li>
                      <a class="dropdown-item" href="{% url 'books:list' %}">Lista książek</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'books:create' %}">Dodaj książke</a>
                    </li>
                  </ul>
             </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'authors:list' %}">Autorzy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">O serwisie</a>
            </li>

              {% if request.user.is_staff %}
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"
                     id="adminDropdown"
                     role="button"
                     data-bs-toggle="dropdown"
                     aria-expanded="false">
                    Administracja
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                    <li>
                      <a class="dropdown-item" href="{% url 'books:requests' %}">Książki do akceptacji</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'reviews:list' %}">Recenzje do akceptacji</a>
                    </li>
                  </ul>
             </li>
             {% endif %}
          </ul>

          {% include "search_bar.html" %}

        <div class="navbar-login-control ms-4 dropdown">
              <button class="btn btn-dark dropdown-toggle" style="min-width: 160px"
                 id="dropdownMenuLink"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false">
                  Account <i class="fas fa-user-circle"></i>
              </button>

              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                  {% if not request.user.is_authenticated %}
                    <li>
                        <form action="{% url 'accounts:login' %}" class="dropdown-item" method="get">
                            {% csrf_token %}
                            <!--User: {{user}}-->
                            <button type="submit" class="dropdown-item">Login</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <form action="{% url 'accounts:signup' %}" method="get">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">SignUp</button>
                        </form>
                    </li>
                {% endif %}


                  {% if request.user.is_authenticated %}
                    <li>
                        <form action="{% url 'accounts:profile' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">User Profile</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <form action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Logout</button>
                        </form>
                    </li>
                {% endif %}
              </ul>
        </div>

        </div>
      </div>
    </nav>
    {% endif %}

        <div class="container {% if not request.user.is_authenticated %}not-logged{% endif %}">
            {% block content %}
            {% endblock %}
        </div>


        <script src="{% static 'js/bootstrap.js' %}"></script>
    </body>
</html>