<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-4">

  <section class="bg-dark text-light py-3">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>BookWeb App
          </h6>
          <p>
            BookWeb to serwis internetowy pozwalający poznawać nowe książki oraz je recenzować. Serwis jest zbiorem wszystkich książek, dzięki czemu internauci są w stanie szybko przeczytać "zajawkę" i zobaczyć czy chcą wgłębić się w powieść, a następnie ją ocenić dzieląc się przemyśleniami z innymi użytkownikami.
          </p>
        </div>

        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Wykorzystane technologie
          </h6>
          <ul>
            <li>Python</li>
            <li>Django</li>
            <li>Bootstrap</li>
          </ul>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <p>
            <a href="/" class="link-light text-decoration-none">Strona główna</a>
          </p>
          <p>
            <a href="books/" class="link-light text-decoration-none">Książki</a>
          </p>
          <p>
            <a href="authors/" class="link-light text-decoration-none">Autorzy</a>
          </p>
          <p>
            <a href="about/" class="link-light text-decoration-none">O serwisie</a>
          </p>
        </div>
    </div>
  </section>

</footer>
