{% extends 'base_layout.html' %}

{% block content %}
    <h1 class="text-center mb-5">Wyszukana książka</h1>
    <div class="books">
        {% for book in books %}
            {% include "books/book_snippet.html" with book=book %}
        {% endfor %}
    </div>
    <br/>
    <h1 class="text-center mb-5">Wyszukani autorzy</h1>
    <div class="books">
        {% for author in authors %}
            {% include "authors/author_snippet.html" with author=author %}
        {% endfor %}
    </div>
{% endblock %}