<div class="my-3 card container">
    <div class="card-body d-flex row">
        <div class="col">
            <div class="row">
                <div class="col-10">
                    <p class="fs-5"><b>Powód:</b> {{ role_request.message }}</p>
                </div>
                <div class="col text-end">

                    {% if request.user.is_staff %}
                        <div class="mt-3">
                            <form method="post" action="{% url 'role_requests:accept' %}">
                                {% csrf_token %}
                                <input type="number" value={{role_request.id}} id="review_id_1" name="role_request_id" hidden>
                                <button type="submit" class="btn btn-success btn-sm" style="width: 100px;">Zaakceptuj</button>
                            </form>
                            <form method="post" class="mt-2" action="{% url 'role_requests:reject' %}">
                                {% csrf_token %}
                                <input type="number" value={{role_request.id}} id="review_id_2" name="role_request_id" hidden>
                                <button type="submit" class="btn btn-danger btn-sm" style="width: 100px;">Odrzuć</button>
                            </form>
                        </div>
                     {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>