{% extends 'base_layout.html' %}

{% block content %}
    <h1 class="text-center mb-5">Prośby o zostanie moderatorem</h1>

        {% if not role_requests %}
            <h3 class="mb-4">Brak nowych zgłoszeń</h3>
        {% endif %}

        {% for role_request in role_requests %}
            <div class="mb-3">
                {% include "role_requests/role_request_snippet.html" with role_request=role_request %}
            </div>
        {% endfor %}

        {% include "pagination.html" with items=role_requests %}
{% endblock %}
